.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: left;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: translateY(-5px);
  }

  .product-image-container {
    position: relative; /* For positioning the heart icon */
    height: 80px; /* Increased height */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    .product-image {
      height: 100%; /* Adjusted to fill container */
      width: auto;
      object-fit: cover; /* Allow the image to cover the container */
      border-radius: 4px;
    }

    .heart-icon {
      position: absolute;
      top: 5px; /* Positioning from the top */
      right: 5px; /* Positioning from the right */
      width: 24px; /* Adjust size as needed */
      height: 24px;
    }
  }

  .product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative; /* For positioning the heart icon later */

    .product-description {
      font-size: 12px;
      color: #999;
      margin-bottom: 10px;
    }

    .product-name {
      font-size: 18px;
      margin: 5px 0;
      color: #333;
      display: flex;
      justify-content: space-between;
      width: 100%; /* Full width to allow space for heart icon */
      position: relative; /* For positioning the heart icon */
    }

    .heart-icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 24px; /* Adjust size as needed */
      height: 24px;
    }

    .price-container {
      display: flex;
      align-items: center;
      justify-items: center;
      margin-top: auto; /* Pushes the price container to the bottom */
      width: 100%;

      .point-icon {
        width: 16px; /* Adjust icon size */
        height: 16px;
        padding-bottom: 4px;
        margin-right: 5px; /* Space between icon and price */
      }

      .product-price {
        font-size: 16px;
        color: #333;
        font-weight: bold;
      }
    }
  }
}
